# api コンテナに渡される
DATABASE_URL="mysql://__DB_NAME__:secret@db:3306/__DB_NAME__"

NODE_ENV=development
PORT=4000

# ブラウザから見えるURL（web用）
NEXT_PUBLIC_API_URL=http://localhost:__PORT_API__

MAIL_HOST=mail
MAIL_PORT=1025
MAIL_FROM="noreply@example.com"

JWT_SECRET=change-me-in-production
